<div class="container d-flex pt-5 pb-5">
  <div class="enigma">
    <div class="control-panel">
      <div class="control-buttons">
        <span class="button" (click)="toggleRingSettings()">{{getRingSettingsText()}}</span>
        <span class="button" (click)="saveMachineSettings()">Save Settings</span>
        <span class="button" *ngIf="machineConfigurationAvailable" (click)="loadMachineSettings()">Load Settings</span>
        <span class="button-dev" (click)="getSettings()">DEV - Settings</span>
      </div>
    </div>
    <div class="row">
      <app-logo></app-logo>
    </div>
    <div class="row">
      <app-rotor-section [rotorSection]="rotorSection"></app-rotor-section>
    </div>
    <div class="row">
      <app-output-lamps></app-output-lamps>
    </div>
    <div class="row">
      <app-input-keyboard></app-input-keyboard>
    </div>
    <div class="row">
      <app-plugboard [plugboard]="plugboard"></app-plugboard>
    </div>
    <div class="row">
      <app-output></app-output>
    </div>
  </div>
</div>
