.container {
    justify-content: center;

    .row {
        width: 800px;
    }

    .enigma {
        border: 2px solid black;
        box-shadow: 10px 10px 10px #3b3d3c;
    }

    button {
        font-size: 10pt;
        width: 170px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .classic-output {
        resize: none;
        width: 500px;
    }
}


.control-buttons {
    display: flex;
    background-image: url(../../assets/images/texture.jpg);
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border: 2px solid #E1C16E;
        border-radius: 10px;
        width: 140px;
        height: 30px;
        font-size: 9pt;
        text-transform: uppercase;
        color: black;
        background: radial-gradient(circle, rgba(188, 194, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
        cursor: pointer;
        transition: all .1s ease-in-out;
        user-select: none;
        font-weight: bold;
    }

    .button-dev {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border: 2px solid #E1C16E;
        border-radius: 10px;
        width: 140px;
        height: 30px;
        font-size: 9pt;
        text-transform: uppercase;
        color: black;
        background-color: red;
        cursor: pointer;
        transition: all .1s ease-in-out;
        user-select: none;
        font-weight: bold;
    }
    
    .button:active, .button-dev:active {
        box-shadow: 0 5px 5px #3b3d3c;
        transform: translateY(2px);
    }
}    
