<div class="container">
    <div class="row">
        <app-logo></app-logo>
    </div>
    <div class="row">
        <app-rotor-section [rotorSection]="rotorSection"></app-rotor-section>
    </div>
    <div class="row">
        <app-output-lamps></app-output-lamps>
    </div>
    <div class="row">
        <app-input-keyboard></app-input-keyboard>
    </div>
    <div class="row">
        <app-plugboard [plugboard]="plugboard"></app-plugboard>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <button class="btn btn-primary" (click)="getCurrentSetting()">Click me</button>
    </div>
</div>