<div class="container d-flex pt-5 pb-5" *ngIf="!compactEnigmaVisible">
  <div class="enigma">
    <!-- <div class="row">
      <button type="button" (click)="toggleEnigmaButton()" class="btn btn-primary toggle-button">
        {{getEnigmaToggleButtonText()}}
      </button>
      <button type="button" class="btn btn-primary toggle-button">Show summary</button>
      <button type="button" class="btn btn-warning reset-button">Reset</button>
    </div> -->
    <div class="row">
      <app-control-panel [rotorSection]="rotorSection" [plugboard]="plugboard"></app-control-panel>
    </div>
    <div class="row">
      <app-logo></app-logo>
    </div>
    <div class="row">
      <app-rotor-section [rotorSection]="rotorSection"></app-rotor-section>
    </div>
    <div class="row">
      <app-output-lamps></app-output-lamps>
    </div>
    <div class="row">
      <app-input-keyboard></app-input-keyboard>
    </div>
    <div class="row">
      <app-plugboard [plugboard]="plugboard"></app-plugboard>
    </div>
    <div class="row">
      <app-output></app-output>
    </div>
  </div>
</div>
