<div class="container pt-3 pb-3">
  <div class="lampboard">
    <div class="d-flex justify-content-center align-items-center pt-1">
      <div class="key-section" *ngFor="let char of firstRow">
        <span class="key" [class.keyOn]="pressedKey === char" (click)="keyClicked(char)">{{char}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center pt-1">
      <div class="key-section" *ngFor="let char of secondRow">
        <span class="key" [class.keyOn]="pressedKey === char" (click)="keyClicked(char)">{{char}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center pt-1">
      <div class="key-section" *ngFor="let char of thirdRow">
        <span class="key" [class.keyOn]="pressedKey === char" (click)="keyClicked(char)">{{char}}</span>
      </div>
    </div>
  </div>
</div>
