.container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-image: url("../../../assets/images/texture.jpg");
}

.logo {
    width: 150px;
    user-select: none;
}