<div class="container pt-3 pb-5">
    <div class="plugboard">
        <div class="d-flex justify-content-center align-items-center pt-1">
            <div class="plug d-flex align-items-center justify-content-center" *ngFor="let char of firstRow">
                <div class="letter">{{char}}</div>
                <div class="holes">
                    <span class="top cable-hole"></span>
                    <span class="bottom cable-hole"></span>
                </div>
                <div class="number">{{characterNumber(char)}}</div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center pt-1">
            <div class="plug d-flex align-items-center justify-content-center" *ngFor="let char of secondRow">
                <div class="letter">{{char}}</div>
                <div class="holes">
                    <span class="top cable-hole"></span>
                    <span class="bottom cable-hole"></span>
                </div>
                <div class="number">{{characterNumber(char)}}</div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center pt-1">
            <div class="plug d-flex align-items-center justify-content-center" *ngFor="let char of thirdRow">
                <div class="letter">{{char}}</div>
                <div class="holes">
                    <span class="top cable-hole"></span>
                    <span class="bottom cable-hole"></span>
                </div>
                <div class="number">{{characterNumber(char)}}</div>
            </div>
        </div>
    </div>
</div>