.container {
    display: flex;
    width: 800px;

    .labels {
        width: 100%;

        .label {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border: 2px solid #E1C16E;
            border-radius: 10px;
            font-weight: bold;
            width: 140px;
            height: 30px;
            font-size: 9pt;
            text-transform: uppercase;
            user-select: none;
            color: black;
            background: radial-gradient(circle, rgba(188, 194, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }

    .textareas {
        textarea {
            resize: none;
            width: 380px;
            background-color: papayawhip;
            border-radius: 5px;
            margin-left: 10px;
            margin-right: 10px;
            user-select: none;
            border: 2px solid #E1C16E;
            text-transform: uppercase;
            font-size: 13pt;
        }

        .input-area {
            cursor: default;
        }

        .output-area {
            cursor: pointer;
        }

        textarea:focus {
            outline: none;
        }
    }
}


