.container {
    background: url(../../../assets/images/texture.jpg);
}

.lamp-section {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
}

.light {
    font-size: 1.5rem;
    font-weight: bold;
    color: #D0D0D0;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px #AAAAAA;
    background-color: black;
    //background: linear-gradient(135deg, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 45%);
    user-select: none;
}

.light-on {
    color: #2b2b27;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(252,221,21,1) 17%);
}